<div class="contents" lang="{{ trmnl.user.locale | escape }}" data-t-data="{{ 'sun_chart' | l_word: trmnl.user.locale | json | escape }}">
  <div class="layout flex-col place-content-around" lang="{{ trmnl.user.locale }}" data-hour-cycle="{{ trmnl.plugin_settings.custom_fields_values.hour_cycle }}" data-tz="{{ trmnl.plugin_settings.custom_fields_values.time_zone }}">
  <div class="chart-today-container w-full mx-2 -px-2 relative">
    <div class="hour-labels flex flex-row gap-0 place-content-between screen-4bit:mb-1">
    </div>
    <div class="chart-today w-full gap-0 h-4 rounded flex flex-row border"></div>
    <div class="chart-today-indicator inline-block -translate-x-1/2 absolute">▲</div>
  </div>
  <div class="flex flex-row w-full">
    <div class="grow flex flex-col place-content-center gap-0">
      <div class="label text-center inline-block" data-t="sunrise">Sunrise</div>
      <div class="value value--large screen-lg:text-7xl text-center [&_small]:text-4xl screen-lg:[&_small]:text-6xl sunrise-time"></div>
    </div>
    <div class="grow flex flex-col place-content-center gap-0">
      <div class="label text-center inline-block" data-t="daylength">Daylength</div>
      <div class="value value--large screen-lg:text-7xl text-center [&_small]:text-4xl screen-lg:[&_small]:text-6xl day-length">-</div>
    </div>
    <div class="grow flex flex-col place-content-center gap-0">
      <div class="label text-center inline-block" data-t="sunset">Sunset</div>
      <div class="value value--large screen-lg:text-7xl text-center [&_small]:text-4xl screen-lg:[&_small]:text-6xl sunset-time"></div>
    </div>
  </div>
</div>

<div class="title_bar">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="image-stroke"><path fill="#000" d="M12.75 2.75a.75.75 0 0 0-1.5 0v1.5a.75.75 0 0 0 1.5 0zm6.28 2.22a.75.75 0 0 1 0 1.06l-1.06 1.061a.75.75 0 0 1-1.061-1.06l1.06-1.061a.75.75 0 0 1 1.061 0M17.41 13q.09-.487.09-1a5.5 5.5 0 1 0-10.91 1H2.75a.75.75 0 0 0 0 1.5h18.5a.75.75 0 0 0 0-1.5zM12 8a4 4 0 0 1 3.874 5H8.126A4 4 0 0 1 12 8m-6 8.75a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75a.75.75 0 0 1-.75-.75m4 3a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75M4.97 4.97a.75.75 0 0 1 1.06 0l1.061 1.06a.75.75 0 1 1-1.06 1.061L4.97 6.031a.75.75 0 0 1 0-1.061"/></svg>
  <span class="title" data-t="title">Sun chart</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
</div>

