<div style="display: contents;" lang="{{ trmnl.user.locale | escape }}" data-t-data="{{ custom_next_holiday_strings | json | escape }}" data-holidays="{{ trmnl.plugin_settings.custom_fields_values.holidays | escape }}">
  <div class="layout layout--row" data-tz="{{ trmnl.user.time_zone_iana }}">
    <div class="flex flex-row port:flex-col justify-center w-full h-full grow">
      <div class="place-content-center w-0 port:w-full port:h-[30cqh] text-center port:text-start grow-1 port:grow-0" style="container-type: size;">
        <iconify-icon icon="mdi:home" class="text-[75cqmin] port:text-[100cqmin] image-dither"></iconify-icon>
      </div>
      <div class="place-content-center w-0 port:w-full grow-2 port:grow-0" data-text-container>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <iconify-icon icon="fluent:calendar-star-24-regular" class="text-[24px] image image-stroke image-dither"></iconify-icon>
    <span class="title" data-t="next_holiday">Next holiday</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
{% render "common", trmnl: trmnl, mainValueClass: "value--large lg:value--xlarge"  %}

<style type="text/css" id="tailwind-trmnl-generated">
/*! tailwindcss v4.3.2 | MIT License | https://tailwindcss.com */
@layer theme, base, components, utilities;
@layer utilities {
  .flex {
    display: flex;
  }
  .h-full {
    height: 100%;
  }
  .w-0 {
    width: 0;
  }
  .w-full {
    width: 100%;
  }
  .grow {
    flex-grow: 1;
  }
  .grow-1 {
    flex-grow: 1;
  }
  .grow-2 {
    flex-grow: 2;
  }
  .flex-row {
    flex-direction: row;
  }
  .place-content-center {
    place-content: center;
  }
  .justify-center {
    justify-content: center;
  }
  .text-center {
    text-align: center;
  }
  .text-\[24px\] {
    font-size: 24px;
  }
  .text-\[75cqmin\] {
    font-size: 75cqmin;
  }
  .port\:h-\[30cqh\] {
    .screen--portrait & {
      height: 30cqh;
    }
  }
  .port\:w-full {
    .screen--portrait & {
      width: 100%;
    }
  }
  .port\:grow-0 {
    .screen--portrait & {
      flex-grow: 0;
    }
  }
  .port\:flex-col {
    .screen--portrait & {
      flex-direction: column;
    }
  }
  .port\:text-start {
    .screen--portrait & {
      text-align: start;
    }
  }
  .port\:text-\[100cqmin\] {
    .screen--portrait & {
      font-size: 100cqmin;
    }
  }
}
</style>
