<div style="display: contents;" lang="{{ trmnl.user.locale | escape }}" data-t-data="{{ 'custom_next_holiday' | l_word: trmnl.user.locale | json | escape }}" data-holidays="{{ trmnl.plugin_settings.custom_fields_values.holidays | default: "[]" | escape }}">
  <div class="layout layout--row" data-tz="{{ trmnl.user.time_zone_iana }}">
    <div class="flex flex-col grow h-full w-full justify-center">
      <div class="grow-0 w-full text-center place-content-center h-[30cqw] port:h-[50cqw] text-start" style="container-type: size;">
        <iconify-icon icon="mdi:home" class="text-[100cqmin] image-dither"></iconify-icon>
      </div>
      <div class="grow-0 w-full place-content-center" data-text-container>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <iconify-icon icon="fluent:calendar-star-24-regular" class="image image-stroke text-[24px] image-dither"></iconify-icon>
    <span class="title" data-t="next_holiday">Next holiday</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
{% render "common", trmnl: trmnl, 
  mainValueClass: "value--large lg:value--xxlarge portrait:value--base lg:portrait:value--xlarge",
  mainLabelClass: "value--base lg:value--large portrait:value--small lg:portrait:value--base"
%}