{% template screen %}
<div class="layout">
  <div class="columns" data-overflow="true" data-overflow-cols="{{ cols }}">
    <div class="column flex flex--col gap">
      {% for item in data %}
      <div class="item">
        <div class="meta">
          <span class="index" style="writing-mode: vertical-rl;">{{ item.thumbScore }}</span>
        </div>
        {% if item.image %}<img class="image image--dither h--12 w--auto mr--2 {{ img_class }}" style="align-self: center;" src="{{ item.image }}" />{% endif %}
        <div class="content" style="justify-content: center;">
          <div>
            <span class="{{ title_class | default: "title title--small" }}">{{ item.name }}</span>
            {% if item.price %}<span class="label label--inverted {{ price_class }}"><span class="inline-block">{{ item.price }}</span></span>{% endif %}
            {% if item.note %}<span class="label label--small text--gray-40">{{ item.note }}</span>{% endif %}
          </div>
          <div class="description {{ desc_class }}" data-clamp="1">{{ item.content.text }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="title_bar">
  <svg class="image image-stroke" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M64.7411 14.803L69.9204 16.5593C70.4024 16.7192 70.8478 16.9731 71.2309 17.3064C71.614 17.6397 71.9271 18.0457 72.152 18.501C72.377 18.9562 72.5093 19.4515 72.5414 19.9583C72.5735 20.4651 72.5046 20.9731 72.3388 21.4531L55.7845 69.0484C55.4367 70.0151 54.7222 70.8059 53.7957 71.2496C52.8691 71.6934 51.8051 71.7544 50.8339 71.4194L16.4084 59.7558C16.7711 58.1982 17.0317 57.2803 17.4032 55.9716C17.4799 55.7014 17.5614 55.4145 17.6494 55.1018C21.5379 54.5849 24.2266 53.205 26.3036 50.834C27.8969 49.0131 29.4902 46.092 29.4712 42.8912C29.4712 40.046 28.1103 38.1492 26.8299 36.6175C26.532 36.2544 26.0841 35.8237 25.5942 35.3524C24.4076 34.2111 22.974 32.8322 22.823 31.6005C22.5716 29.4856 24.3404 28.1104 26.0854 27.9492C28.5797 27.731 30.6662 29.258 31.9987 30.3534C32.6433 29.2577 33.3456 28.2197 34.0481 27.1814C34.7563 26.1344 35.4648 25.0872 36.1148 23.9801C34.5594 22.695 32.544 21.8747 30.4244 21.1586C30.4882 20.8812 30.5552 20.6102 30.6221 20.34C30.7838 19.6867 30.9443 19.0381 31.0551 18.3135C29.9467 18.0771 28.8726 17.8043 27.7979 17.5314C26.7161 17.2566 25.6339 16.9817 24.5158 16.7438C24.379 17.4561 24.2005 18.1247 24.022 18.7927C23.8108 19.5834 23.5997 20.3735 23.4584 21.2345C20.3761 22.1023 18.4271 23.193 16.5967 25.2083C14.956 27.0245 13.3058 29.8507 13.3295 32.8429C13.3295 35.2566 14.5197 37.3952 15.7574 38.9032C16.2639 39.5223 16.8423 40.0618 17.4079 40.5895C18.3672 41.4845 19.2901 42.3454 19.7644 43.5029C20.6606 45.689 18.7828 47.9177 17.0235 48.207C13.9804 48.7009 11.5802 46.9631 9.78703 45.6648C9.5488 45.4923 9.32128 45.3275 9.10439 45.1768C8.56112 46.1452 7.9435 47.0401 7.32568 47.9353C6.5306 49.0873 5.73517 50.2399 5.09741 51.5501C6.09321 52.7593 7.66782 53.395 9.2391 54.0294C9.76284 54.2408 10.2863 54.4522 10.7878 54.6845C10.5437 55.6852 10.3048 56.6166 10.1615 57.1753C10.113 57.3641 10.0755 57.5103 10.0524 57.6023L2.63159 55.088C2.14958 54.9281 1.70406 54.6742 1.32082 54.341C0.937573 54.0078 0.62421 53.6019 0.398862 53.1468C0.173513 52.6917 0.0406513 52.1964 0.00796456 51.6896C-0.0247221 51.1828 0.0434148 50.6746 0.208433 50.1943L16.7627 2.58471C17.1115 1.6177 17.8269 0.826844 18.7542 0.383153C19.6816 -0.0605382 20.7462 -0.121405 21.7181 0.213713L56.2327 11.9178C55.4539 14.8522 55.0407 16.8148 54.6095 18.8628C54.238 20.6274 53.8531 22.4554 53.2095 25.023C52.4413 22.3628 50.0561 20.9354 46.5707 21.2579C40.3066 21.8459 35.7875 28.4657 33.5919 34.9528C30.9649 42.6964 29.4427 56.9556 39.3961 57.5341C43.2703 57.757 45.5607 55.68 47.3058 53.9824C47.5219 53.6946 47.8167 53.4755 48.1546 53.3517C48.0249 54.0398 47.9661 54.7989 47.9073 55.5579C47.8608 56.1588 47.8143 56.7597 47.7325 57.3255C50.0109 57.3445 52.1707 57.4516 54.3409 57.5593C54.8806 57.586 55.4217 57.613 55.9646 57.6384C59.2367 40.8424 61.1753 31.2858 64.7411 14.803Z" fill="black"/>
    <path d="M48.5671 46.1391C49.1694 44.6644 51.1136 35.1756 51.2037 34.1182C51.4645 31.1117 50.5113 29.2719 48.4581 29.4141C47.9081 29.4399 47.3699 29.5821 46.879 29.8314C44.8921 30.9363 43.7398 33.6155 42.7582 36.6267C41.7576 39.7185 40.9515 42.6538 41.2834 46.1391C41.4684 48.0786 42.1322 49.3257 43.5027 49.7999C45.7836 50.6108 47.8226 47.9553 48.5671 46.1391Z" fill="black"/>
  </svg>
  <span class="title">Slickdeals</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>

<style>
  .screen--1bit, .screen--2bit {
    .view--full .label.label--inverted span.inline-block {
      translate: 0 2px;
    }
  }
</style>
{% endtemplate %}