<div class="layout">
  <div class="richtext richtext--center gap h--max-full lg:gap--large" data-overflow="true">
    <div class="value text--center text--balance mb--4 lg:value--large lg:mb--8" data-value-fit="true">
      {% render "sentence": data: data, romanization: romanization, jpn_display: jpn_display, cmn_display: cmn_display, lang_data: lang_data, approved_only: approved_only %}
    </div>
    {% if sentences_per_translation_language == "all" %}
      {% for item in data.translations %}
        {% liquid
          assign authorNames = authorNames | append: ", " | append: item.owner
          assign licenses = licenses | append: ", " | append: item.license
          assign language = lang_data[item.lang]
        %}
        <div class="item content flex flex--row gap flex--baseline" lang="{{ language.bcp47 }}">
          <span class="label label--outline lang-label inline-block text--center no-shrink">{{ language.label }}</span>
          <div class="text--balance title lg:title--large">
            {% render "sentence": data: item, romanization: romanization, jpn_display: jpn_display, cmn_display: cmn_display, lang_data: lang_data, approved_only: approved_only %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% for lang in translation_languages %}
        {% liquid
          assign translations = data.translations | where: "lang", lang | slice: 0, 1
          assign language = lang_data[lang]
        %}
        {% for item in translations %}
          {% liquid
            assign authorNames = authorNames | append: ", " | append: item.owner
            assign licenses = licenses | append: ", " | append: item.license
          %}
          <div class="item content flex flex--row gap flex--baseline" lang="{{ language.bcp47 }}">
            <span class="label label--outline lang-label inline-block text--cente no-shrink">{{ language.label }}</span>
            <div class="text--balance title lg:title--large">
              {% render "sentence": data: item, romanization: romanization, jpn_display: jpn_display, cmn_display: cmn_display, lang_data: lang_data, approved_only: approved_only %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="credit w--20 text--right"><span data-unique>{{ licenses }}</span><br><span data-unique>{{ authorNames }}</span></div>
  <div class="image image-dither image-stroke" style="position: absolute; bottom: 0px; left: 0px;" data-qr data-scale="2">https://tatoeba.org/en/sentences/show/{{ data.id }}</div>
</div>

<div class="title_bar" lang="{{ trmnl.user.locale | escape }}" data-t-data="{{ 'language_learning_sentences' | l_word: trmnl.user.locale | json | escape }}">
  {% render "logo" %}
  {% assign translation_languages_size = translation_languages | size %}
  {% if translation_languages_size > 0 %}
  <span class="title" 
    data-t="from_to"
    data-t-from="{{ lang_data[main_language].bcp47 }}" 
    data-t-to="{{ translation_languages | json | escape }}">{$from :langName} to {$to :langNameList}</span>
  {% else %}
  <span data-t="lang" data-t-from="{{ lang_data[main_language].bcp47 }}">{$from :langName}</span>
  {% endif %}
  <span class="instance">#{{ data.id }}</span>
</div>

<script>
  (() => {
    const root = document.currentScript.closest(".view");
    root.querySelectorAll('[data-unique]').forEach((e) => {
      e.innerText = [...(new Set(e.innerText.split(/, /g)))].filter(Boolean).join(', ');
    });
  })();
</script>

<style>
  .lang-label {
    .screen--1bit &, .screen--2bit & {
      translate: 0 -4px;
    }
  }
</style>

<script>
  (() => {
    const root = document.currentScript.closest('.view');
    
    // Debug Logging
    const logContainer = document.createElement('div');
    logContainer.style.position = 'fixed';
    logContainer.style.top = '10px';
    logContainer.style.left = '10px';
    logContainer.style.width = 'calc(100% - 20px)';
    logContainer.style.whiteSpace = 'pre-wrap';
    logContainer.style.wordBreak = 'break-word';
    logContainer.classList.add('label');
    logContainer.classList.add('label--small');
    logContainer.classList.add('text-stroke');
    
    // root.appendChild(logContainer);

    function log(...args) {
      if (logContainer) {
        logContainer.textContent += "> " + args.map(arg => {
          if (typeof arg === 'string') return arg;
          if (arg instanceof HTMLElement) {
            let desc = arg.className ? `.${arg.className.replace(/\s+/g, '.')}` : '';
            if (arg.id) desc += `#${arg.id}`;
            if (arg.dataset && Object.keys(arg.dataset).length) {
              desc += `[${Object.entries(arg.dataset).map(([k, v]) => `${k}=${v}`).join(',')}]`;
            }
            let innerText = arg.textContent.trim().slice(0, 30).replace(/[\r\n]/g, ' ');
            if (innerText) {
              innerText += ` "${innerText}${arg.textContent.trim().length > 30 ? '...' : ''}"`;
            }
            return `<${arg.tagName.toLowerCase()}${desc ? ' ' + desc : ''}>${innerText}`;
          }
          if (arg instanceof Text) {
            return `#text "${arg.textContent.trim().slice(0, 30)}${arg.textContent.trim().length > 30 ? '...' : ''}"`;
          }
          if (arg === null) return 'null';
          if (arg === undefined) return 'undefined';
          if (typeof arg === 'boolean' || typeof arg === 'number' || typeof arg === 'bigint' || typeof arg === 'symbol') {
            return String(arg);
          }
          try {
            if (JSON.stringify(arg) !== "{}") {
              return JSON.stringify(arg);
            }
          } catch {
            return `${arg}`;
          }
          return `${arg}`;
        }).join(' ') + '\n';
      }
      console.log(...args);
    }

    function remeasure() {
      root.querySelectorAll('[dir="auto"]').forEach(e => {
        log("computing", e)
        e.style.width = "";
        e.style.maxWidth = "max-content";
        log("before size: w", e.getBoundingClientRect().width, "h", e.getBoundingClientRect().height)
        const range = document.createRange();
        range.setStartBefore(e.firstChild);
        range.setEndAfter(e.lastChild);
        const width = Math.ceil(range.getBoundingClientRect().width) + 2;
        log("after w", range.getBoundingClientRect().width, "h", range.getBoundingClientRect().height, "resulting", width);
        e.style.width = `${width}px`;
      });
    }
    
    const resizeObserver = new ResizeObserver((es) => {
      log("on resize", "blockSize", es[0].contentBoxSize[0].blockSize, "inlineSize", es[0].contentBoxSize[0].inlineSize);
      remeasure();
    });
    resizeObserver.observe(root);
    log("root remeasure");
    remeasure();
    setTimeout(() => {
      document.fonts.ready.then(() => {
        log("font remeasure");
        remeasure();
      });
    }, 100);
    setInterval(() => {
      log("interval remeasure");
      remeasure();
    }, 100);
  })();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
<script src="https://cdn.jsdelivr.net/gh/blueset/trmnl-tricks@536f8a59298f826810a87f2d73347edeb961ef4f/QR.js" defer></script>
