<div class="relative layout" lang="{{ language }}">
  <div class="text--gray-75 lyricova-id value">#{{ entryId }}</div>  
  <div class="qr">{{ "https://lyricova.1a23.studio/entries/" | append: entryId | qr_code: 2, "l" }}</div>
  <div class="columns">
    <div class="column">
      <div class="flex flex--left richtext">
        <span class="text-stroke value lg:value--large quote lyricova-quote" data-value-fit="true" data-value-fit-max-height="340">
          <p>
            {% for line in lines %}
              {{ line }}
              {% unless forloop.last %}
              {% assign line_size = line | strip_newlines | strip | size %}
              {% if line_size > 0 %}<br>
              {% else %}</p><p>
              {% endif %}{% endunless %}
            {% endfor %}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="lyricova-title-bar title_bar" lang="{{ language }}">
  <div class="flex--bottom flex flex--row title">
    {{ entry.title }} {% if isMain %}★{% endif %}{% if isOriginal %}☆{% endif %}
    {% for tag in entry.tags %}
      <span class="label--outline uppercase label label--small">{{ tag.name }}</span>
    {% endfor %}
  </div>
  <span class="instance">
    {% assign producersSize = entry.producersName | strip_newlines | strip | size %}
    {% assign vocalistsSize = entry.vocalistsName | strip_newlines | strip | size %}
    {% if producersSize > 0 and vocalistsSize > 0 %}
      {{ entry.producersName }} feat. {{ entry.vocalistsName }}
    {% else %}
      {{ entry.producersName }}{{ entry.vocalistsName }}
    {% endif %}
  </span>
</div>

<style>
  .lyricova-id {
    top: 0;
    right: 0;
    z-index: -1;
    --value-font-size : 6em;
  }
  .qr {
    bottom: 0; 
    right: 0;
  }
</style>