<div class="relative layout" lang="{{ language }}">
  <div class="text--gray-75 lyricova-id value">#{{ entryId }}</div>
  <div data-qr data-scale="2">https://lyricova.1a23.studio/entries/{{ entryId }}</div>
  <div class="columns">
    <div class="column">
      <div class="flex flex--left richtext">
        <span class="text-stroke value lyricova-quote" data-value-fit="true" data-value-fit-max-height="170">
          <p>
            {% for line in lines %}
              {{ line }}
              {% unless forloop.last %}
              {% assign line_size = line | strip_newlines | strip | size %}
              {% if line_size > 0 %}<br>
              {% else %}</p><p>
              {% endif %}{% endunless %}
            {% endfor %}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="lyricova-title-bar title_bar" lang="{{ language }}">
  <div class="flex--bottom flex flex--row title">
    {{ entry.title }} {% if isMain %}★{% endif %}{% if isOriginal %}☆{% endif %}
    {% for tag in entry.tags %}
      <span class="label--outline uppercase label label--small">{{ tag.name }}</span>
    {% endfor %}
  </div>
  <span class="instance">
    {% assign producersSize = entry.producersName | strip_newlines | strip | size %}
    {% assign vocalistsSize = entry.vocalistsName | strip_newlines | strip | size %}
    {% if producersSize > 0 and vocalistsSize > 0 %}
      {{ entry.producersName }} feat. {{ entry.vocalistsName }}
    {% else %}
      {{ entry.producersName }}{{ entry.vocalistsName }}
    {% endif %}
  </span>
</div>

<style>
  .trmnl .value.lyricova-id {
    top: 5px; 
    right: 10px; 
    --value-font-size : 4em; 
    z-index: 0;
  }
  [data-qr] {
    bottom: 10px; 
    right: 10px;
  }
  .lyricova-quote {
    z-index: 1;
  }
</style>