<div class="relative layout lyricova-layout-quad" lang="{{ language }}">
  <div class="columns">
    <div class="column">
      <div class="flex flex--left richtext">
        <span class="text-stroke value lyricova-quote" data-value-fit="true" data-value-fit-max-height="170">
          <p>
            {% for line in lines %}
              {{ line }}
              {% unless forloop.last %}
              {% assign line_size = line | strip_newlines | strip | size %}
              {% if line_size > 0 %}<br>
              {% else %}</p><p>
              {% endif %}{% endunless %}
            {% endfor %}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="px--0 py--1 title_bar lyricova-title-bar-quad" lang="{{ language }}">
  <div class="flex--bottom flex flex--row p--0 px--2 title sz-12">
    {{ entry.title }}
  </div>
  <span class="p--0 px--1 instance sz-12">
    {% assign producersSize = entry.producersName | strip_newlines | strip | size %}
    {% assign vocalistsSize = entry.vocalistsName | strip_newlines | strip | size %}
    {% if producersSize > 0 and vocalistsSize > 0 %}
      {{ entry.producersName }} feat. {{ entry.vocalistsName }}
    {% else %}
      {{ entry.producersName }}{{ entry.vocalistsName }}
    {% endif %}
  </span>
</div>

<style>
  .screen--1bit, .screen--2bit {
    .lyricova-layout-quad {
      --title-bar-small-height: 24px;
    }
    .lyricova-title-bar-quad {
      --title-bar-small-height: 24px; 
      .title, .instance {
        font-family: fusion-pixel-12px-proportional-ja, sans-serif;
      }
    }
  }

  .sz-12 {
    --title-bar-font-size : 12px;
    --title-bar-small-font-size : 12px;
  }
  
  .trmnl .value.lyricova-id {
    top: 5px; 
    right: 10px; 
    --value-font-size : 2em; 
    z-index: 0;
  }
  [data-qr] {
    bottom: 5px; 
    right: 5px;
  }
  .lyricova-quote {
    z-index: 1;
  }
</style>