<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

<style>
  @import url("https://fontsapi.zeoseven.com/359/main/result.css"); /* ChillBitmap_16px */
  @import url("https://fontsapi.zeoseven.com/570/12px/result.css"); /* Fusion Pixel 12px P latin Regular */
  
  @font-face {
    font-family: 'UnifontExMono';
    src: url('https://stgiga.github.io/UnifontEX/UnifontExMono.ttf')  format('truetype'),
         url('https://stgiga.github.io/UnifontEX/UnifontExMono.woff2') format('woff2');
  }
  @font-face{
    font-family: "Hibiya24";
    src: url("https://togaras1.net/assets/font/KH-Dot-Hibiya-24.woff") format("woff");
  }
  @font-face {
      font-family: 'Unifont';
      src: url('https://konard.github.io/twittermatrix/unifont.woff') format('woff'), url('https://konard.github.io/twittermatrix/unifont.ttf') format('truetype');
  }
  @font-face {
      font-family: fusion-pixel-12px-proportional-zh_hans;
      src: url("https://fusion-pixel-font.takwolf.com/fusion-pixel-12px-proportional-zh_hans.otf.woff2");
  }
  @font-face {
      font-family: 'C16XCN';
      font-weight: bold;
      src: url('https://blueset.github.io/wikipedia-featured/fonts/c16xcnb.woff2') format('woff2'),
           url('https://blueset.github.io/wikipedia-featured/fonts/c16xcnb.ttf') format('truetype');
  }
  @font-face {
      font-family: 'C16XCN';
      font-weight: normal;
      src: url('https://blueset.github.io/wikipedia-featured/fonts/c16xcnr.woff2') format('woff2'),
           url('https://blueset.github.io/wikipedia-featured/fonts/c16xcnr.ttf') format('truetype');
  }
  @font-face {
    font-family: 'C24XCN';
    src: url('https://blueset.github.io/wikipedia-featured/fonts/c24xcn.woff2') format('woff2'),
         url('https://blueset.github.io/wikipedia-featured/fonts/c24xcn.ttf') format('truetype');
  }
  @font-face {
      font-family: 'JF-Dot-Shinonome16';
      font-weight: bold;
      src: url('https://blueset.github.io/wikipedia-featured/fonts/JF-Dot-Shinonome16B.woff2') format('woff2'),
           url('https://blueset.github.io/wikipedia-featured/fonts/JF-Dot-Shinonome16B.ttf') format('truetype');
  }
  @font-face {
      font-family: 'JF-Dot-Shinonome16';
      font-weight: normal;
      src: url('https://blueset.github.io/wikipedia-featured/fonts/JF-Dot-Shinonome16.woff2') format('woff2'),
           url('https://blueset.github.io/wikipedia-featured/fonts/JF-Dot-Shinonome16.ttf') format('truetype');
  }
  @font-face {
      font-family: 'Helvetica 17';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-100dpi-1.0.4/helvR12.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }
  @font-face {
      font-family: 'Helvetica 17';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-100dpi-1.0.4/helvB12.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
  }
  @font-face {
      font-family: 'Helvetica 17';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-100dpi-1.0.4/helvBO12.ttf') format('truetype');
      font-weight: 700;
      font-style: oblique;
  }
  @font-face {
      font-family: 'Helvetica 17';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-100dpi-1.0.4/helvO12.ttf') format('truetype');
      font-weight: 500;
      font-style: oblique;
  }
  @font-face {
      font-family: 'Utopia 25';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-utopia-100dpi-1.0.5/UTRG__18.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
      font-family: 'Utopia 25';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-utopia-100dpi-1.0.5/UTBI__18.ttf') format('truetype');
      font-weight: 700;
      font-style: italic;
  }
  @font-face {
      font-family: 'Utopia 25';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-utopia-100dpi-1.0.5/UTB___18.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
  }
  @font-face {
      font-family: 'Utopia 25';
      src: url('https://blueset.github.io/xorg-fonts/font-adobe-utopia-100dpi-1.0.5/UTI___18.ttf') format('truetype');
      font-weight: 400;
      font-style: italic;
  }
  
  :where(.screen--md, .screen--sm) .richtext .content p {
    line-height: 20px;
    word-break: normal;
  }

  .trmnl .screen--4bit {
    .wiki-richtext .title {
      &:lang(bn), &:lang(el), &:lang(en), &:lang(hu), &:lang(sv), &:lang(zh) {
        font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
      }
      &:lang(de), &:lang(vi) {
        font-family: "Linux Libertine","Palatino Linotype","Georgia","Times",serif;
      }
      &:lang(sd) {
        font-family: "SSRead",Georgia,Arial,Calibri,Times,sans-serif;
      }
      &:lang(ur) {
        font-family: "Jameel Noori Nastaleeq","Mehr Nastaliq Web","Alvi Lahori Nastaleeq","Alvi Nastaleeq","Nafees Nastaleeq","Nafees Nastaleeq v1.01","Pak Nastaleeq","Urdu Emad Nastaleeq","PDMS_Jauhar","Urdu Typesetting",Nafees,IranNastaliq,Amiri,Georgia,"Times New Roman",Times,sans-serif;
      }
    }
  }
  
  .trmnl .screen--1bit, .trmnl .screen--2bit {
    --richtext-font-family: 'Helvetica 17', sans-serif;
    --richtext-font-size: 18px;
    --title-font-family: 'Utopia 25', serif;
    --title-font-size: 29px;
    .richtext .content:lang(ja), .content:lang(ja),
    .title_bar .title:lang(ja), .title_bar .title:lang(ja){
      font-family: "JF-Dot-Shinonome16", "DotGothic16", sans-serif;
      padding-top: 0;
      font-size: 16px;
    }
    .richtext .content:lang(zh), .content:lang(zh),
    .title_bar .title:lang(zh), .title_bar .title:lang(zh){
      font-family: "寒蝉点阵体 16px", "C16XCN", "Unifont", sans-serif;
      padding-top: 0;
      font-size: 16px;
    }
    .label.label--small:lang(ja), .label.label--small:lang(ja) {
      font-family: "UnifontExMono", sans-serif;
    }
    .label.label--small:lang(zh), .label.label--small:lang(zh) {
      font-family: "寒蝉点阵体 16px", "C16XCN", "Unifont", sans-serif;
    }
    .title:lang(ja), .title:lang(ja) {
      font-family: "Hibiya24", sans-serif;
      font-size: 24px;
    }
    .title:lang(zh), .title:lang(zh) {
      font-family: "C24XCN", "Hibiya24", "NanoDyongChyangSong TCN 24", "Unifont", serif;
      font-size: 24px;
    }
    .description:lang(zh) {
      font-family: "Fusion Pixel 12px P latin", sans-serif;
      font-size: 12px;
    }
    
    b {
      text-decoration: underline dotted;
    }
  }
  .trmnl .screen--4bit .richtext .content b {
    font-weight: 800;
    font-variation-settings: "wght" 800;
  }
  .title_bar .title {
    width: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title_bar .instance {
    flex-grow: 0;
  }

  .wiki-columns {
    height: 100%;
    align-items: center;
  }
  .wiki-column {
      justify-content: safe center;
      overflow: hidden;
  }
  
  .wiki-richtext .content {
      overflow: hidden;
  }
  
  .wiki-richtext, .wiki-itn, .wiki-dyn {
      max-height: 100%;
      overflow: hidden;
  }
  .wiki-richtext .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .wiki-itn a, .wiki-dyn a {
    text-decoration: none;
    color: inherit;
  }

  .wiki-dyn:lang(zh) b > a::after, .wiki-dyn:lang(zh) a:has(b)::after {
    content:  " (" attr(title) ")"
  }

  .wiki-ongoing:lang(en)::before {
    content: "Ongoing: ";
  }
  .wiki-recent-deaths:lang(en)::before {
    content: "Recent deaths: ";
  }
  .wiki-ongoing:lang(zh)::before {
    content: "正在发生：";
  }
  .wiki-recent-deaths:lang(zh)::before {
    content: "最近逝世：";
  }
</style>

{% liquid 
  assign language = trmnl.plugin_settings.custom_fields_values.language
  assign view = ""
  if language == "en"
    assign view = trmnl.plugin_settings.custom_fields_values.en_view
  elsif language == "zh"
    assign view = trmnl.plugin_settings.custom_fields_values.zh_view
  endif
%}

<div class="layout" lang="{{ language }}">
  {% if view == "dyn" %}
  <div class="flex flex-row gap wiki-dyn">
    <div class="flex flex--col gap" data-overflow="true">
      {% for fact in facts %}
      <div class="item richtext">
        <div class="meta"></div>
        <div class="full:lg:content-large content">
          <p>{{ fact.html }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if image.url %}
    <figure class="quad:hidden vert:hidden flex flex--center-y flex--col max-w-[30%] content" style="align-self: stretch;">
      <img src="{{ image.url }}" alt="{{ image.alt }}" class="w--full image image-dither image--contain" style="max-height: calc(100% - var(--description-font-size) - var(--gap));" />
      {% if image.caption %}<figcaption class="description">{{ image.caption }}</figcaption>{% endif %}
    </figure>
    {% endif %}
  </div>
  {% elsif view == "itn" %}
  <div class="flex flex-row full:port:flex-col-reverse lg:vert:flex-col-reverse gap wiki-itn">
    <div class="flex flex--col gap" data-overflow="true">
      {% for headline in headlines %}
      <div class="item richtext">
        <div class="meta"></div>
        <div class="full:lg:content-large content">
          <p>{{ headline.html }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="description full:lg:description-large wiki-ongoing">{% for og in ongoing %}{{ og.text }}{% unless forloop.last %} · {% endunless %}{% endfor %}</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="description full:lg:description-large wiki-recent-deaths">{% for rd in recentDeaths %}{{ rd.name }}{% unless forloop.last %} · {% endunless %}{% endfor %}</span>
        </div>
      </div>
    </div>
    {% if image.url %}
    <figure class="quad:hidden vert:hidden flex lg:vert:flex flex--center-y flex--col max-w-[30%] lg:port:vert:max-w-[60%] content" style="align-self: stretch;">
      <img src="{{ image.url }}" alt="{{ image.alt }}" class="w--full image image-dither image--contain" style="max-height: calc(100% - var(--description-font-size) - var(--gap));" />
      {% if image.caption %}<figcaption class="description">{{ image.caption }}</figcaption>{% endif %}
    </figure>
    {% endif %}
  </div>
  {% else %}
  <div class="columns wiki-columns">
    <div class="column wiki-column">
      <div class="gap--medium richtext richtext--center wiki-richtext">
        <span class="text--center title lg:title--xlarge" dir="auto">{{ title }}</span>
        {% if description %}<span class="text--center label label--small lg:label--base" dir="auto">{{ description }}</span>{% endif %}
        <div class="lg:content--large content lg:4bit:full:leading-[1.5]" dir="auto">
          {{ extract_html }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="title_bar" lang="{{ language }}">
  <img class="image image-stroke" src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Wikipedia%27s_W.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">{{ timestamp | default: "now" | date: trmnl.plugin_settings.custom_fields_values.date_format }}</span>
</div>

<script>
  (() => {
    const root = document.currentScript.closest(".view");
    const content = root.querySelector(".wiki-richtext .content");
    const p = root.querySelector(".wiki-richtext .content p");
    function measure(reset) {
      if (reset && content) {
        content.style.webkitLineClamp = "";
      }
      const height = content.getBoundingClientRect().height;
      const lineHeight = parseInt(getComputedStyle(p || content).lineHeight);
      const lines = Math.floor(height / lineHeight);
      console.log("clamp lines to", lines, height, lineHeight, content);
      content.style.webkitLineClamp = lines;
    }
    const resizeObserver = new ResizeObserver((entries) => {
      const reset = entries.filter(e => e.target.classList.contains('view') || e.target === root).length > 0;
      measure(reset);
    });
    resizeObserver.observe(root);
    if (p) resizeObserver.observe(p);
    document.fonts.ready.then(() => measure(true));
    document.fonts.addEventListener('loadingdone', () => measure(true));
    window.addEventListener('load', () => measure(true));
    window.addEventListener('resize', () => measure(true));
    window.addEventListener('orientationchange', () => measure(true));
    setTimeout(() => {
      measure(true)
      document.fonts.ready.then(() => {
        measure(true)
      });
    }, 2000);
  })();
</script>

<script type="module" src="https://blueset.github.io/trmnl-recipes/trmnl-play-cdn.mjs"></script>
<style type="text/tailwindcss">
@import "trmnl-shared.css";
</style>